ul.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

ul.pagination li {
  display: inline-block;
}

ul.pagination .break a {
  cursor: default;
}

.Select {
  z-index: 9;
}

